# Archivos de credenciales locales (¡CRÍTICO!)
.env
*.env
.env.*

# Datos persistentes de tus contenedores (No queremos subir gigas de base de datos)
**/data/
**/volumes/
**/db_data/

# Archivos del sistema operativo
.DS_Store
Thumbs.db